albumentations==0.4.6
autograd
dash
dash-auth
dash-bootstrap-components
dash-core-components
dash-html-components
dash-labs
dash-renderer
dash-table
google-auth
google-auth-oauthlib
google-pasta
matplotlib
numpy
oauthlib
opencv-python
opt-einsum
optuna
pandas
Pillow
pyro-api
pyro-ppl
pytorch-lightning
scikit-fem
scikit-image
scikit-learn
scipy==1.4.1
streamlit
tensorboard
tensorboard-plugin-wit
torch
torchmetrics
torchvision
tqdm
wget

